<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
    body {background-color: powderblue;}
    h2   {color: blue;}
    h1   {color: black;}
    p    {color: red;}
    div  {margin: auto;width: 50%;border: 3px solid green;padding: 10px;}
    </style>
</head>
<body>
<form action="/uploadFile" method="post">
<div class = "upload_file" id="upload_file">
    <h1> Welcome to the Home Page !!</h1>
<h2>Please Upload the Json File</h2>
<input type="file" accept=".json"  placeholder="Upload Json File"/>
    <br><br>
<input type=button class="button" id="button1" value="Upload">
</div>
</form>
</body>
</html>